<h1>Listado de comics</h1>
<div>
  <form #comicForm="ngForm">
    <label for="nombreComic">Nombre comic</label>
    <input type="text" name="nombreComic" #nombreComic/><br />
    <label for="imgComic">Imagen comic </label>
    <input type="text" name="imgComic" #imgComic/>
    <br />
    <label for="descripComic">Descripcion</label>
    <input type="text" name="descripComic" #descripComic/><br />
    <button (click)="registrarComic()">Registrar Comics</button>
    <button (click)="modificarComic()">Modifcar Comics</button>
  </form>
  <div *ngIf="favorito != null" style="background-color: bisque">
    <app-comic [comic]="favorito"></app-comic>
    <label>Entra Al padre</label>
  </div>

  <div *ngFor="let comic of comics; let i= index">
    <app-comic
      [comic]="comic"
      [indice]="i"
      (comicFavorito)="comicFavoritoPadre($event)"
      (eliminarComic)="eliminarComic($event)"
    ></app-comic>
  </div>
</div>
